/* Webfont: Apercu-Bold */@font-face {
    font-family: 'Apercu-Bold';
    src: url('../fonts/Apercu/LatoLatin-Black.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Apercu/LatoLatin-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Apercu/Apercu-Bold.woff.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Apercu/Apercu-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: Apercu-BoldItalic */@font-face {
    font-family: 'Apercu-BoldItalic';
    src: url('../fonts/Apercu/Apercu-BoldItalic..eot'); /* IE9 Compat Modes */
    src: url('../fonts/Apercu/Apercu-BoldItalic..eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Apercu/Apercu-BoldItalic..woff') format('woff'), /* Modern Browsers */
         url('../fonts/Apercu/Apercu-BoldItalic..ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: Apercu-Italic */@font-face {
    font-family: 'Apercu-Italic';
    src: url('../fonts/Apercu/Apercu-Italic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Apercu/Apercu-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Apercu/Apercu-Italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Apercu/Apercu-Italic.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: Apercu-Medium */@font-face {
    font-family: 'Apercu-Medium';
    src: url('../fonts/Apercu/Apercu-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Apercu/Apercu-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Apercu/Apercu-Medium.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Apercu/Apercu-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Apercu */@font-face {
    font-family: 'Apercu';
    src: url('../fonts/Apercu/Apercu.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Apercu/Apercu.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Apercu/Apercu.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Apercu/Apercu.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
