@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/fontello.eot?66873782');
  src: url('../fonts/fontello/fontello.eot?66873782#iefix') format('embedded-opentype'),
       url('../fonts/fontello/fontello.woff2?66873782') format('woff2'),
       url('../fonts/fontello/fontello.woff?66873782') format('woff'),
       url('../fonts/fontello/fontello.ttf?66873782') format('truetype'),
       url('../fonts/fontello/fontello.svg?66873782#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?66873782#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-search:before { content: '\e800'; } /* '' */
.icon-download:before { content: '\e801'; } /* '' */
.icon-info-circled:before { content: '\e802'; } /* '' */
.icon-github:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\e805'; } /* '' */
.icon-flickr:before { content: '\e806'; } /* '' */
.icon-paper-plane:before { content: '\e807'; } /* '' */
.icon-umbrella:before { content: '\e808'; } /* '' */
.icon-down-open:before { content: '\e809'; } /* '' */
.icon-left-open:before { content: '\e80a'; } /* '' */
.icon-right-open:before { content: '\e80b'; } /* '' */
.icon-up-open:before { content: '\e80c'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-up-circled:before { content: '\f0aa'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-rss-squared:before { content: '\f143'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-tumblr:before { content: '\f173'; } /* '' */
.icon-vimeo-squared:before { content: '\f194'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */

