@font-face {
  font-family: 'LeagueSpartan-Bold';
  src: url('../fonts/LeagueSpartan/LeagueSpartan-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/LeagueSpartan/LeagueSpartan-Bold.woff') format('woff'),
  url('../fonts/LeagueSpartan/LeagueSpartan-Bold.ttf') format('truetype'),
  url('../fonts/LeagueSpartan/LeagueSpartan-Bold.svg#LeagueSpartan-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}

