---
layout: default
home: true
card: true
title: Open Knowledge Foundation Deutschland
description: Offenes Wissen für die digitale Gesellschaft
---
<div class="page-intro">
	<div class="container">
		<div class="row padded-left">
			<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
				<h1>{% t start.Slogan %}</h1>
				<div class="page-opener">
					<p class="intro">{% t start.Intro %}</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row padded-left">
		<div class="featured-project-section">
			<div class="featured-project-item dark-section">
				<a href="projekte/jugendhackt/">
					<div class="project-statement">
						<h3>Jugend Hackt</h3>
						<p>
							300 Jugend-Hacker experimentieren bei Jugend hackt mit Code und Freundschaft.
						</p>
					</div>
				</a>
			</div>
			<div class="featured-project-item dark-section">
				<a href="projekte/fragdenstaat/">
					<div class="project-statement">
						<h3>FragDenStaat</h3>
						<p>
							20 000+ Anfragen wurden bei FragDenStaat.de von BürgerInnen an Behörden gestellt.
						</p>
					</div>
				</a>
			</div>
			<div class="featured-project-item dark-section">
				<a href="projekte/codeforde/">
					<div class="project-statement">
						<h3>Code for Germany</h3>
						<p>
							25 OK Labs entwickeln Tools für digitale Städte in ganz Deutschland.
						</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="blog-section">
	<div class="container padded-row">
		<div class="row">
			<div class="col-md-12">
				<h2>{% t start.AusUnseremBlog %}</h2>
			</div>
		</div>
		<div class="row">
			{% assign relatedArray = '' | split:':' %}
			{% for post in site.posts limit: 4 %}
			{% assign relatedArray = relatedArray | push: post %}
			{% endfor %}
			{% include post_previews.html posts=relatedArray %}
		</div>
	</div>
</div>

<div id="newsletter"">
	<div class="container padded-row">
		<div class="row">
			<div class="col-md-12">
				<h2>{% t start.Newsletter %}</h2>
				<p>{% t start.NewsletterText %}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-xs-12 padded-top">
				<form action="//okfn.us5.list-manage.com/subscribe/post?u=929f1e07936386d34833e20d1&amp;id=4ed2decd59" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="text-center mc-form" target="_blank">
					<div class="input-group">

							<input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="E-Mail" required>
							<button class="input-group-btn" type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">{% t start.NewsletterJa %}</button>
							<span style="position: absolute; left: -5000px;">
								<input type="text" name="b_929f1e07936386d34833e20d1_bb63fcab72" value="">
								<!-- set to newsletter only-->
								<input type="checkbox" value="1" checked="checked" name="group[16985][1]" id="mce-group[16985]-16985-0" style="display:none;">
							</span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
