---
layout: base
title: Themen
menu_themen: yes

---

{% assign themen = site.pages|where:"layout","thema"|sort:"title" %}

<div class="broad-header">
  <h1>Themen</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis in facilis eaque soluta, tempora. Quaerat deserunt, eius et pariatur asperiores placeat alias quis saepe, consectetur cumque ea sunt necessitatibus hic!</p>
  <!-- <ul class="nav-list">
    {% for thema in themen %}
      <li>
        <a href="{{ site.baseurl }}{{ thema.url|replace_first:'/',''|replace_first:'index.html','' }}">
          {{ thema.title }}
        </a>
      </li>
    {% endfor %}
  </ul> -->
</div>

{% for thema in themen %}
    <div class="theme-item">
      <div class="theme-background" {% if thema.background.size > 0 %}style="background-image:url('{{ site.staticurl }}images/{{ thema.background }}');"{% endif %}></div>
      <a href="{{ site.baseurl }}{{ thema.url|replace_first:'/',''|replace_first:'index.html','' }}" class="container top-box col-md-7 col-center text-center">
        <h2>{{ thema.title }}</h2>
        <p>{{ thema.teaser }}</p>
        <p>
          <span class="highlight-link">mehr erfahren</span>
        </p>
      </a>
    </div>
{% endfor %}
