---
layout: base
title: Team
description: ''
background: backgrounds/background.jpg
menu_community: yes

---

<div class="broad-header">
  <h1>Team</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, id provident omnis laudantium delectus excepturi quae eum ad? A fuga in dolores facilis nobis vitae incidunt. Ipsa delectus maxime magni!</p>
</div>

<div class="container">

{% assign staff = site.data.team | where:"staff",1 | sort: "name" %}
{% for person in staff %}
  {% assign order=forloop.index0|modulo:2 %}
  {% include person.html person=person order=order %}
{% endfor %}

</div>
