---
layout: base
title: Team
description: ''
background: backgrounds/background.jpg
menu_community: yes

---

{% assign staff = site.data.team | where:"staff",1 | sort: "name" %}

<div class="lurking-header">
  <h1>Team</h1>
  <p>
    Das Team der Open Knowledge Foundation besteht momentan aus {{ staff|size }} Personen. Sie arbeiten in verschiedenen Projekten an den Themen des Vereins. Die Mitglieder des Vorstands haben wir <a href="../vorstand/">hier aufgelistet</a>.
  </p>
</div>

<div class="container">


{% for person in staff %}
  {% assign order=forloop.index0|modulo:2 %}
  {% include person.html person=person order=order %}
{% endfor %}

</div>
