<footer class="hidden-print">
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h3>Themen</h3>
          <ul>
            <li><a href="#">Offene Daten</a></li>
            <li><a href="#">Offene Wissenschaft</a></li>
            <li><a href="#">Offene Kulturgüter</a></li>
            <li><a href="#">Informationsfreiheit</a></li>
            <li><a href="#">Civic Technology</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>Projekte</h3>
          <ul>
            <li><a href="#">Frag den Staat</a></li>
            <li><a href="#">Offener Haushalt</a></li>
            <li><a href="#">Entwicklungsbarometer</a></li>
            <li><a href="#">Offene Ratsinformation</a></li>
            <li><a href="#">Offenes Parlament</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>Community</h3>
          <ul>
            <li><a href="#">Code for Germany</a></li>
            <li><a href="#">Jugend Hackt</a></li>
            <li><a href="#">Coding da Vinci</a></li>
            <li><a href="#">Hacks and the City</a></li>
            <li><a href="#">Mailinglisten</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>Kontakt</h3>

        </div>
      </div>
    </div>
  </div>
  <div class="cellar">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p>
            Open Knowledge Foundation Deutschland e.V. ist ein eingetragener
            Verein, Vereinsregister-Nr. VR 30468 B. Die Inhalte dieser Webseite
            sind nach <a href="https://creativecommons.org/licenses/by/3.0/de/">Creative Commons 3.0 Attribution</a> freigegeben.
          </p>
        </div>
        <div class="col-md-2 col-md-push-2">
            <a href="{{ site.baseurl }}">
              <img src="{{site.staticurl}}images/logo_footer.png" alt="Open Knowldege Foundation Deutschland e.V.">
            </a>
        </div>
      </div>
    </div>
  </div>
</footer>
