<nav class="navbar navbar-okfn {% unless page.background %}default-background{% endunless %}" role="navigation" style="{% if page.background %}background-image:url('{{ site.staticurl }}images/{{ page.background }}'){% endif %}">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{site.baseurl}}">
        <img src="{{ site.staticurl }}images/{% if page.blacklogo %}logo_black.png{% else %}logo_white.png{% endif %}" width="75" height="75" alt="Open Knowledge Foundation Deutschland" class="logo {% unless page.blacklogo %}white-logo{% endunless %}"/>
      </a>
    </div>

    <div id="mainmenu">
      <ul class="nav navbar-nav navbar-right {% if page.background %}{% if page.blacknav %}nav-black{% else %}nav-white{% endif %}{% else %}nav-white{% endif %}">
        <li{% if page.menu_themen %} class="active"{% endif %}>
          <a class="nav-link" href="{{ site.baseurl }}themen/">Themen</a>
        </li>
        <li{% if page.menu_projekte %} class="active"{% endif %}>
          <a class="nav-link" href="{{ site.baseurl }}projekte/">Projekte</a>
        </li>
        <li{% if page.menu_community %} class="active"{% endif %}>
          <a class="nav-link" href="{{ site.baseurl }}community/">Community</a>
        </li>
        <li{% if page.menu_blog %} class="active"{% endif %}>
          <a class="nav-link" href="{{ site.baseurl }}blog/">Blog</a>
        </li>
        <li{% if page.menu_beratung %} class="active"{% endif %}>
          <a class="nav-link" href="{{ site.baseurl }}beratung/">Beratung</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
