{% assign post=include.post %}
<div class="col-lg-4">
	<article class="post-item">
		<div class="post-meta">
			<div class="post-author">
				<p>{{ post.date | date:"%d.%m.%Y" }}</p>
				<p>{% t blog.Von %}
					{% assign authors = "" | split:"|"  %}
					{% if post.author %}{% assign authors = authors | push: post.author %}{% endif %}
					{% for a in post.authors %}{% assign authors = authors | push: a %}{% endfor %}
					{% for author in authors %}{{author}}{% unless forloop.last %} {% t blog.Und %} {% endunless %}{% endfor %}<br/>
				</p>
			</div>
		</div>
		<div class="post-teaser">
			<ul class="post-tags">
				{% for tag in post.tags %}
				<li><a href="{{ site.baseurl }}/blog/tags/{{ tag | tagify }}/"><span class="badge">{{ tag }}</span></a></li>
				{% endfor %}
			</ul>
			<h3 class="post-title"><a href="{{ site.baseurl }}/{{ post.url | remove_first:'/'}}">{{ post.title }}</a></h3>
			<p class="post-excerpt">{{ post.excerpt | markdownify | strip_html | truncatewords: 50}}</p>
			<p class="post-more">
				<a href="{{ site.baseurl }}/{{ post.url | remove_first:'/'}}">{% t blog.Mehr %}</a>
			</p>
		</div>
	</article>
</div>