{% assign project = include.project %}
{% assign style = include.style %}

<div class="project-item flex-col {% if project.wideimage %}col-md-8{% else %}col-md-4{% endif %} col-sm-6 col-xs-12">
	<div class="project-box {{ style }}">
		<a href="{{ site.baseurl }}/{{ project.url|replace_first:'/','' }}">
			<div class="project-box-image-wrap">
				<div class="project-box-image{% unless project.img.size > 0 %} project-box-color{% endunless %}" {% if project.img.size> 0 %}style="background-image: url('{{ site.staticurl }}images/{{ project.img }}');'"{% endif %}></div>
			</div>
			<div class="project-box-inner">
				<h3>{{ project.title }}</h3>
				{% capture langcontent %}{{ project[site.lang].subtitle }}{% endcapture %}
				{{ if langcontent!='' }}
				{% unless style == 'mini' %}<p>{{ langcontent }}</p>{% endunless %}
				{{ endif}}
			</div>
		</a>
	</div>
</div>
