<nav id="cd-lateral-nav">
	<ul class="cd-navigation">
		<!--<li class="item-has-children{% if page.menu_themen %} active{% endif %}">-->
		<li{% if page.menu_themen %} class="active"{% endif %}><a href="{{ site.baseurl }}themen/">Themen</a>
			<ul class="sub-menu" style="display: none;">
			<li><a href="/about/objectives/">Objectives</a></li>
			<li><a href="/about/technical-structure/">Technical structure</a></li>
			<li><a href="/about/work-packages/">Work Packages</a></li>
			<li><a href="/about/deliverables/">Deliverables</a></li>
			<li><a href="/about/partners/">Partners</a></li>
			</ul>
		</li>
		<li{% if page.menu_projekte %} class="active"{% endif %}><a href="{{ site.baseurl }}projekte/">Projekte</a></li>
		<li{% if page.menu_blog %} class="active"{% endif %}><a href="{{ site.baseurl }}blog/">Blog</a></li>
		<li{% if page.menu_services %} class="active"{% endif %}><a href="{{ site.baseurl }}services/">Services</a></li>
		<li{% if page.menu_spenden %} class="active"{% endif %}><a href="{{ site.baseurl }}spenden/">Spenden</a></li>
		<li{% if page.menu_team %} class="active"{% endif %}><a href="{{ site.baseurl }}team/">Team</a></li>
		<li{% if page.menu_vorstand %} class="active"{% endif %}><a href="{{ site.baseurl }}vorstand/">Vorstand</a></li>
		<li{% if page.menu_verein %} class="active"{% endif %}><a href="{{ site.baseurl }}verein/">Verein</a></li>
		<li{% if page.menu_presse %} class="active"{% endif %}><a href="{{ site.baseurl }}presse/">Presse</a></li>
		<li{% if page.menu_jobs %} class="active"{% endif %}><a href="{{ site.baseurl }}jobs/">Jobs</a></li>
		<li{% if page.menu_impressum %} class="active"{% endif %}><a href="{{ site.baseurl }}impressum/">Impressum</a></li>
	</ul>
</nav>
