---
layout: default
title: Blog
---

<div class="posts">
  {% for post in paginator.posts %}
    <div class="post">
      <div class="row">
        <div class="col-lg-9">
          <div class="post-header">
            <h3 class="post-title">
              <a href="{{ site.baseurl }}{{ post.url|replace_first:'/','' }}">
                {{ post.title|escape }}
              </a>
            </h3>
          </div>
        </div>
        <div class="col-lg-3">
          {% assign author=post.author %}
          {% include author_info.html %}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <div class="post-content">
            {% if post.image %}
              <img src="{{ post.image.src }}" alt="{{ post.image.title }}" class="img-responsive"/>
            {% endif %}
            {{ post.content }}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

    <ul class="list-unstyled">
    {% if paginator.previous_page %}
      <li>
        {% if paginator.previous_page == 1 %}
          <a href="{{ site.baseurl }}blog/">&laquo;</a>
        {% else %}
          <a href="{{ site.baseurl }}{{ paginator.previous_page_path|replace_first:'/','' }}">&laquo;</a>
        {% endif %}
      </li>
    {% endif %}

    {% if paginator.next_page %}
      <li>
        <a href="{{ site.baseurl }}{{ paginator.next_page_path|replace_first:'/','' }}">&raquo;</a>
      </li>
    {% endif %}
    </ul>
  </div>
</div>