---
layout: base
title: Blog
supertitle: Blog
menu_blog: yes
---

<div class="full-box">
  {% for post in paginator.posts %}
    {% include post_preview.html post=post %}
  {% endfor %}

    <ul class="list-unstyled blog-pagination">
    {% if paginator.previous_page %}
      <li>
        {% if paginator.previous_page == 1 %}
          <a href="{{ site.baseurl }}blog/">&laquo;</a>
        {% else %}
          <a href="{{ site.baseurl }}{{ paginator.previous_page_path|replace_first:'/','' }}">&laquo;</a>
        {% endif %}
      </li>
    {% endif %}

    {% if paginator.next_page %}
      <li>
        <a href="{{ site.baseurl }}{{ paginator.next_page_path|replace_first:'/','' }}">&raquo;</a>
      </li>
    {% endif %}
    </ul>

</div>
