---
---

@import 'bootstrap.css';
@import 'flexboxgrid.css';
@import 'icons.css';


$okf-background: rgb(235, 235, 235);
$okf-primary: rgb(38, 183, 217);
$okf-secondary: rgb(4, 92, 113);
$okf-tertiary: rgb(29, 165, 197);
$okf-quartinary: rgb(3, 134, 165);
$dark-text-color: #112233;
$light-text-color: #535b63;
$lightest-text-color: lighten(#535b63, 40%);

$primary-color: $okf-primary;

$min-width: 768px;
$screen-md: 992px;
$grid-margin: 15px;

@font-face {
  font-family: 'FiraSans-Regular';
  src: url('../fonts/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/FiraSans-Regular.woff') format('woff'), url('../fonts/FiraSans-Regular.ttf')  format('truetype'), url('../fonts/FiraSans-Regular.svg#FiraSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'LeagueSpartan-Bold';
  src: url('../fonts/LeagueSpartan-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/LeagueSpartan-Bold.woff') format('woff'), url('../fonts/LeagueSpartan-Bold.ttf')  format('truetype'), url('../fonts/LeagueSpartan-Bold.svg#LeagueSpartan-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}

body {
  color: $light-text-color;
  font-family: 'FiraSans-Regular', 'Helvetica', sans-serif;
  font-weight: 300;
  line-height: 1.4em;
  font-size: 18px;
  background-color: $okf-background;
}

h1, h2, h3, h4 {
  color: $dark-text-color;
  font-family: 'LeagueSpartan-Bold', 'Helvetica', sans-serif;
  line-height: 1.4em;
  margin-bottom: 15px;
  margin-top: 35px;
  letter-spacing: 2px;
}

a, a:hover, a:focus {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

a:hover, a:focus {
  color: $okf-secondary;
}

a:hover h3 {
  color: $okf-secondary;
}

.col-center h1, .col-center h2 {
  text-align: center;
}

.navbar-header {
  position: absolute;
}

.navbar-okfn {
  background-color: #fff;
  border: 0px;
  background-size: cover;
  margin-bottom: 0;
  font-family: 'LeagueSpartan-Bold', 'Helvetica', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-align: right;
  border-radius: 0px
}

.default-background {
  background-color: $primary-color;
}

.navbar-brand {
  height: 75px;
  line-height: 75px;
  padding: 15px;
}

.navbar-okfn>.container {
  background: rgba(0,0,0,0);
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(50%, rgba(0,0,0,0.5)), color-stop(100%, rgba(0,0,0,0.5)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.navbar-okfn.default-background>.container {
  background: none;
}

.nav {
  padding-right: 40px;
  margin-left: 22%;
}

.nav>li>a,.nav>li>a:hover, .nav>li>a:focus {
  text-align: right;
  color: #fff;
  border-bottom-color: #fff;
}

.nav>li>a {
    display: inline-block;
    padding: 12px 0px 8px;
    margin: 0px 1.5rem 0px;
    position: relative;
    text-decoration: none;
}

.nav>li>a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0px;
    border-bottom: 3px solid transparent;
    bottom: 2px;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

.nav>li>a:hover:before,
.nav>li.active>a:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    border-bottom: 3px solid #fff;
}

.navbar-nav.nav-black>li>a:hover:before,
.navbar-nav.nav-black>li.active>a:before {
  border-bottom-color: #fff;
}

.navbar-nav {
  margin: 0 -15px;
  padding: 15px 40px;
}

.nav>li>a:hover, .nav>li>a:focus  {
  background-color: transparent;
}

.nav>li.active>a {
  font-weight: 500;
}

@media (min-width: $min-width) {
  .navbar-okfn>.container {
    background-image: none;
  }
  .navbar-okfn {
    padding-bottom: 15rem;
  }
  .navbar-nav.nav-black a,
  .navbar-nav.nav-black a:hover,
  .navbar-nav.nav-black a:focus {
    color: $dark-text-color;
  }

  .nav-black .nav>li>a:before,
  .nav-black .nav>li>a:hover:before {
    border-bottom: 3px solid $dark-text-color;
  }

  .navbar-nav.nav-black>li>a:hover:before,
  .navbar-nav.nav-black>li.active>a:before {
    border-bottom-color: $dark-text-color;
  }

  .nav {
    padding-right: 0px;
  }
  .nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
  }

  .navbar-nav>li>a {
    padding-top: 48px;
    padding-bottom: 5px;
  }
}

.supertitle {
  position: absolute;
  top: 15px;
  overflow: hidden;
  font-size: 22em;
  height: 300px;
  text-transform: uppercase;
  line-height: 1em;
  color: lighten($okf-primary, 10%);
  z-index: 1;
}

.header-headline {
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 24px;
  padding: 40px 0;
}

@media (min-width: $min-width) {
  .header-headline {
    font-size: 3em;
    padding: 170px 0 0;
  }
}

.footer {
  background-color: $okf-primary;
  margin: 0 auto 0;
  padding: 2rem 0;
  font-size: 0.9em;
  overflow: hidden;
}

.footer h3, h4 {
  color: #fff;
}

.footer, .footer a, .footer a:hover {
  color: #fff;
}
.footer-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  display: inline-block;
  text-transform: uppercase;
  font-family: "LeagueSpartan-Bold";
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 12px;
  padding: 0 1.5em;
}


.cellar {
  background-color: $okf-secondary;
  padding: 1em 0;
  font-size: 0.8em;
}
.cellar, .cellar a, .cellar a:hover {
  color: #ccc;
}

.nav-list {
  margin: 2em 0;
  padding: 0 0.1em;
  list-style-type: none;
}

.nav-list li>a, .highlight-link {
  display: inline-block;
  line-height: 2em;
  margin: 0.5em 0;
  border: 2px solid $okf-primary;
  padding: 0.5em;
  white-space: nowrap;
  color: $okf-primary;
  width: 100%;
}

@media (min-width: $min-width) {
  .nav-list li>a, .highlight-link {
    margin: 0.5em;
  }
}

.nav-list li>a:hover, .highlight-link:hover {
  text-decoration: none;
  color: lighten($okf-primary, 20%);
  border-color: lighten($okf-primary, 20%);
}

.col-center {
  margin: 0 auto;
  width: 100%;
  position: relative;
  min-height: 1px;
}

@media (min-width: $min-width) {
  .col-center {
    width: 66.66666667%;
  }
}


.lurking-header {
  display: block;
  background-color: #fff;
  padding: 10px 30px 40px;
  margin: 0 auto 2em;
  @extend .col-center;
}

@media (min-width: $min-width) {
  .lurking-header {
    margin-top: -85px;
    padding: 15px 60px 40px;
  }
}

.box {
  background-color: #fff;
  display: block;
  flex-grow: 1;
  margin: $grid-margin 0;
}

.box .inner, .box-inner {
  padding: 2rem;
}

.box h1, .box h2, .box h3 {
  margin: 1rem auto 1rem;
}

.box p:last-child {
  margin-bottom: 0;
}

.box-image .box-image-inner {
  height: 20rem;
  background-size: 100% auto;
  background-position: center 0;
  background-repeat: no-repeat;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.mini .box .inner, .mini .box .inner h3 {
  font-size: 0.9em;
}

.mini .box-image .box-image-inner {
  height: 12rem;
}

.box-image:hover .box-image-inner {
/*   background-position: -5% -5%; */
  background-size: 110% auto;
}

.box-color {
  background: rgb(59,210,246); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(59,210,246,1) 0%, rgba(29,165,197,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(59,210,246,1)), color-stop(100%,rgba(29,165,197,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, rgba(59,210,246,1) 0%,rgba(29,165,197,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, rgba(59,210,246,1) 0%,rgba(29,165,197,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, rgba(59,210,246,1) 0%,rgba(29,165,197,1) 100%); /* IE10+ */
  background: linear-gradient(135deg, rgba(59,210,246,1) 0%,rgba(29,165,197,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bd2f6', endColorstr='#1da5c5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@media (min-width: $screen-md) {
  .order-1 {
    order: -1;
  }
}

.box-main {
  flex: 3;
}

.box-broader {
  min-width: 63.2% !important;
}

.full-box {
  background-color: #fff;
  margin: 0 auto;
}

@media (min-width: $min-width) {
  .full-box {
    padding: 2em;
  }
}

.broad-header {
  @extend .full-box;
  text-align: center;
}

.broad-header p {
  margin: 0 auto;
  max-width: 540px;
  padding: 1em 0;
}

.theme-item {
  margin-bottom: 5em;
}

.theme-background {
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 350px;
}

.theme-item>a {
  position: relative;
}

.theme-item>a:hover, .theme-item>a:hover p {
  text-decoration: none;
}

.person-image {
  background-position: center 0;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  min-height: 320px;
  margin-bottom: -2 * $grid-margin;
}

@media (min-width: $min-width) {
  .person-image {
    margin-bottom: $grid-margin;
  }
}

.post-list-item {
  text-align: center;
  margin: 2rem auto;
  width: 50%;
  min-width: 300px;
}

.post-list-item > a {
  display: block;
}

.post-title {
  margin-bottom: 1rem;
}

.post-list-item img {
  width: 80px;
  display: inline-block;
  text-align: center
}

.post-list-item > hr {
  width: 25%;
  margin: 4rem auto 6rem;
}

.post-meta {
  font-size: 0.8em;
  color: $lightest-text-color;
  line-height: 1.3em;
}

.blog-pagination {
  width: 300px;
  text-align: center;
  margin: 0 auto;
}

.blog-pagination li {
  display: inline;
}

.post-author {
  margin: -60px auto 4rem;
  text-align: center;
}

.post-author > img {
  width: 80px;
  border: 2px solid #fff;
  margin-bottom: 1rem;
}

.post-meta > a {
  color: $lightest-text-color;
  font-weight: normal;
}

.post-meta > a:hover {
  font-weight: bold;
  color: $light-text-color;
}

.post-image-full {
  margin: 0 auto;
}

.post-image-full > img {
  width: 100%;
  text-align: center;
}

.showcase {
  padding: 2rem 0 2rem
}

.showcase h4 {
  color: $okf-primary;
  margin: 10px 0 0;
}

.showcase img {
  width: 100%;
  /* height: 200px; */
}

.padded-row {
  padding: 5rem 0;
}

.dark-section {
  background-color: $okf-tertiary;
  color: #fff;
}

.darker-color {
  background-color: $okf-quartinary;
}

.dark-section h2 {
  color: #fff;
}

.dark-section {

  .nav-list {
    text-align: center;
  }

  .nav-list li {
    color: #fff;
  }

  .nav-list li>a, .highlight-link {
    border-color: #fff;
    color: #fff;
  }

  .nav-list li>a:hover, .highlight-link:hover {
    text-decoration: none;
    color: #fff;
    border-color: #fff;
  }

}

.subtle-section {
  text-align: center;
  color: $light-text-color;
  margin: 60px 0 20px;
}

.icon-list {
  font-size: 14px;
  line-height: 20px;
}

.big-icon-list {
  font-size: 20px;
  line-height: 26px;
}

.icon-list dt {
  float: left;
  width: 20px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon-list dd {
  margin-left: 25px;
}

.big-icon-list dt {
  width: 30px;
}

.big-icon-list dd {
  margin-left: 35px;
}

.btn-default {
  color: #000;
}
