---
---

@import 'fontello.scss';
@import 'leaguespartan.scss';
@import 'latolatinfonts.scss';
@import 'bootstrap.scss';
@import 'pagination.scss';
@import 'mixins.scss';
@import 'flex.scss';

// font

$primary-font-family: 'LatoLatinWeb', 'Helvetica', sans-serif;
$headlines-font-family: 'LeagueSpartan-Bold', 'Helvetica', sans-serif;

// colors

$okf-background: #f5f4e9;

$okf-primary: rgb(38, 183, 217);
$okf-secondary: rgb(4, 92, 113);
$okf-tertiary: rgb(29, 165, 197);
$okf-quartinary: rgb(3, 134, 165);

$okf-header-color: #045c71; // blue dark
$okf-sidebar-color: #242e30; // green darker

$dark-text-color: #112233;
$light-text-color: #535b63;
$lightest-text-color: #aab5b7;
$main-text: #4e6361; // main text
$link: #6cac70; // anchor tags

// z-index

$secondary-nav: 1;
$content-zindex: 2;
$header-zindex: 3;

// header height

$header-S: 70px;
$header-logo-S: 55px;
$header-M: 90px;
$header-logo-M: 75px;

// screensize breakpoints

$grid-margin: 15px;

$S: 480px;
$M: 768px;
$L: 1170px;

@mixin MQ-S() {
  @media only screen and (min-width: $S) {
    @content;
  }
}

@mixin MQ-M() {
  @media only screen and (min-width: $M) {
    @content;
  }
}

@mixin MQ-L() {
  @media only screen and (min-width: $L) {
    @content;
  }
}

// general

html * {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: $light-text-color;
  font-family: $primary-font-family;
  font-weight: 300;
  line-height: 1.4em;
  font-size: 18px;
  background-color: $okf-background;
}

html, body {
  /* you need to set this to assign to the main element a min height of 100% */
  height: 100%;
}

h1, h2, h3, h4 {
  color: $dark-text-color;
  //text-transform: uppercase;
  font-weight: bold;
  line-height: 1.4em;
  margin-bottom: 15px;
  margin-top: 15px;
  letter-spacing: 2px;
  font-family: $headlines-font-family;
}

#main-content {
  font-size: 14px;
  h1 {
    font-size: 20px;
    word-wrap: break-word;
  }
  h2 {
    font-size: 16px;
    word-wrap: break-word;
  }
  h3 {
    font-size: 14px;
    word-wrap: break-word;
  }

  @include MQ-S() {
    font-size: 16px;
    h1 {
      font-size: 28px;
      word-wrap: normal;
    }
    h2 {
      font-size: 22px;
      word-wrap: normal;
    }
    h3 {
      font-size: 18px;
    }
  }

  @include MQ-M() {
    font-size: 18px;
    h1 {
      font-size: 36px;
    }
    h2 {
      font-size: 30px;
    }
    h3 {
      font-size: 20px;
      word-wrap: normal;
    }
  }

  @include MQ-L() {
    font-size: 18px;
    h1 {
      font-size: 36px;
    }
    h2 {
      font-size: 30px;
    }
    h3 {
      font-size: 24px;
    }
  }
}

a {
  &, &:hover, &:focus {
    color: #333;
    font-weight: bold;
    text-decoration: none;
  }

  &:hover, &:focus {
    color: $okf-secondary;
  }

  &:hover h3 {
    color: $okf-secondary;
  }
}

hr {
  border-color: $okf-secondary;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(3deg);
  }
  40% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

// bootstrap overwrites

.row {
  margin-left: 0;
  margin-right: 0;
}

.btn-default {
  color: #000;
}

//page elements

.nav-items {
  margin: 0;
  padding: 0;

  ul {
    height: 100%;
    margin: 0;
    padding: 0;

    > li {
      display: inline-block;
      margin-right: 0.5em;

      > a.nav-link, > a.nav-link:hover, > a.nav-link:focus {
        text-align: right;
        color: #fff;
        border-bottom-color: #fff;
        background-color: transparent;
      }
      > a.nav-link {
        display: inline-block;
        position: relative;
        text-decoration: none;
        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 0;
          border-bottom: 3px solid transparent;
          bottom: 2px;
          transform: scaleX(0);
          transition: 0.2s ease-in;
        }
      }
    }
  }

  ul > li > a.nav-link:hover:before, ul > li.active > a.nav-link:before {
    transform: scaleX(1);
    border-bottom: 3px solid #fff;
  }

  &.nav-items-right {
    ul {
      > li {
        margin-left: 1rem;
        margin-right: 0;
        float: right;
      }
      > li:last-of-type {
        margin-left: 0;
      }
    }
  }

}

header {
  position: absolute;
  top: 0;
  left: 0;
  height: $header-S;
  width: 100%;
  background: $okf-header-color;
  z-index: $header-zindex;

  &.fixed {
    position: fixed;
  }

  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;

  @include transition-property(transform);
  @include transition-duration(.4s);

  &.lateral-menu-is-open {
    /* translate to show the lateral menu */
    @include transform(translateX(-260px));
  }

  //assign this class to the header if you want a fixed navigation
  &.is-fixed {
    position: fixed;
  }

  @include MQ-M() {
    height: $header-M;
  }

  .header-logo {
    display: inline-block;
    margin-top: 6px;
    margin-left: 8px;

    .header-logo-img {
      display: inline-block;
      vertical-align: middle;
      width: $header-logo-S;
      height: $header-logo-S;

      img {
        display: inline;
        height: 100%;
        width: 100%;
      }

      @include MQ-M() {
        height: $header-logo-M;
        width: $header-logo-M;
      }

    }

    span {
      color: #fff;
      display: inline-block;
      vertical-align: middle;
      border-bottom-color: #fff;
    }

    .header-brand-full {
      display: none;
      padding-top: 6px;
      @include MQ-L() {
        display: inline-block;
      }
    }
    .header-brand-small {
      padding-top: 6px;
      @include MQ-L() {
        display: none;
      }
    }
  }

  .header-nav {
    position: absolute;
    top: 0;
    right: 10px;
    height: 100%;
    display: none;

    ul {
      vertical-align: middle;

      > li {
        padding-top: 10px;
        //line-height: 40px;
        //margin-top: 24px;

        > a {
          vertical-align: middle;
          font-weight: 600;
          padding-top: 10px;
          padding-bottom: 10px;
          margin-bottom: 1.5rem;
          margin-top: 1.5rem;
        }
      }
    }

    @include MQ-M() {
      display: block;
    }
    @include MQ-L() {
      right: 40px;
    }
  }

  #sidebar-trigger {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: lighten($okf-header-color, 10%);

    .cd-menu-text {
      height: 100%;

      text-transform: uppercase;
      color: #FFF;
      font-weight: 600;

      display: none;
    }

    .cd-menu-icon {
      /* this span is the central line in the menu menu */
      display: inline-block;
      position: absolute;
      @include center; // mixin inside partials > _mixings.scss
      width: 18px;
      height: 2px;
      background-color: #FFF;
      right: 1.25em;

      /* these are the upper and lower lines in the menu menu */
      &::before, &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: inherit;
        left: 0;
      }

      &::before {
        bottom: 5px;
      }

      &::after {
        top: 5px;
      }
    }

    &.is-clicked {
      .cd-menu-icon {
        background-color: rgba(#FFF, 0);

        &::before, &::after {
          background-color: rgba(#FFF, 1);
        }

        &::before {
          bottom: 0;
          @include transform(rotate(45deg));
        }

        &::after {
          top: 0;
          @include transform(rotate(-45deg));
        }
      }
    }

    @include MQ-M() {
      display: none;
    }
  }

}

.language-toggle {
  font-size: 14px;
  line-height: 16px;
  margin-left: 8px;
  color: #939393;
  position: relative;
  top: 7px;
  a {
    color: #fff;
    margin: 0;
    padding: 0;
  }
}

#main-content {
  /* set a min-height and a z-index to be sure that the main element completely covers the lateral menu */
  min-height: 100%;
  position: relative;
  z-index: $content-zindex;

  //we assign a top padding since the header is in position absolute or fixed
  padding-top: $header-S;

  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;

  @include transition-property(transform);
  @include transition-duration(.4s);

  &.lateral-menu-is-open {
    /* translate to show the lateral menu - all content needs to be put in the .cd-main-content to translate*/
    @include transform(translateX(-260px));
  }

  @include MQ-M() {
    padding-top: $header-M;

    dl {
      dt {
        float: left;
        width: 280px;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      dd {
        margin-left: 300px
      }
    }
  }
}

#sidebar {
  position: fixed;
  height: 100%;
  right: 0;
  top: $header-S;
  visibility: hidden;

  @include MQ-M() {
    top: $header-M;
  }

  /* the secondary navigation is covered by the main element */
  z-index: $secondary-nav;

  width: 260px;
  background-color: $okf-sidebar-color;

  overflow-y: auto;

  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;

  transition: transform .4s 0s, visibility 0s .4s;

  /* this creates the subtle slide in animation of the navigation */
  @include transform(translateX(80px));

  .language-toggle {
    margin-top: 10px;
    margin-right: 20px;
    font-size: 15px;
  }

  .cd-navigation {
    list-style: none;
    margin: 10px 0 16px;
    padding-left: 0;

    @include MQ-M() {
      margin: 20px 0;
    }

    a {
      display: block;
      line-height: 2em;
      padding: 0 16px 0 32px;
      color: $lightest-text-color;

      &:hover {
        color: #FFF;
      }
    }

    li.active > a {
      color: #FFF;
      background-color: lighten($okf-sidebar-color, 2%);
    }
  }

  &.lateral-menu-is-open {
    @include transform(translateX(0));
    visibility: visible;
    transition: transform .4s 0s, visibility 0s 0s;

    /* smooth the scrolling on touch devices - webkit browsers */
    -webkit-overflow-scrolling: touch;
  }

}

.navbar-okfn {
  border: 0;
  background-size: cover;
  margin-bottom: 0;
  font-family: $primary-font-family;
  text-transform: uppercase;
  font-weight: bold;
  //font-size: 16px;
  letter-spacing: 2px;
  text-align: center;
  background-color: $okf-primary;
  border-radius: 0;
  min-height: 200px;
  padding-bottom: 0;

  > .container {
    background: rgba(0, 0, 0, 0);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 100%);
  }

  .header-headline {
    margin: 0 auto;
    text-align: center;
    color: #fff;
    //font-size: 24px;
    padding: 40px 0;

  }

  @include MQ-M() {
    > .container {
      background-image: none;
    }
  }

}

.footer {
  background-color: $okf-primary;
  margin: 30px auto 0;
  padding: 2rem 0;
  font-size: 0.9em;
  overflow: hidden;
  color: #fff;

  .nav-items {
    margin-top: 3px;

  }

  .row {
    padding-left: 15px;
    padding-right: 15px;
  }

}

.cellar {
  background-color: $okf-secondary;
  padding: 1em 0;
  font-size: 0.8em;
  color: #ccc;
  a, a:hover {
    color: #ccc;
  }
  p {
    padding-top: 18px;
  }

  .logo-cellar {
    width: 170px;
    height: auto;
  }

}

.avatar-block {

  > div {
    padding-left: 0;
  }

  .avatar-row {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .avatar-col {
    min-width: 72px;
    text-align: right;
    padding-right: 0;
    img {
      margin-top: -10px;
    }
    img:hover {
      animation: wiggle .3s 2;
    }
  }

}

.avatar {
  width: 64px;
  height: 64px;
}

.highlight-link {
  display: inline-block;
  line-height: 2em;
  border: 2px solid $okf-primary;
  padding: 0.5em;
  text-align: center;
  color: $okf-primary;
  width: 100%;

  &:hover {
    text-decoration: none;
    color: darken($okf-primary, 20%);
    border-color: darken($okf-primary, 20%);
  }
}

.dark-section {
  background-color: $okf-tertiary;
  color: #fff;

  &.darker {
    background-color: $okf-quartinary;
    margin-bottom: -30px;
  }

  h2 {
    color: #fff;
  }

  .highlight-link {
    color: #fff;
    border-color: #fff;
  }

  .highlight-link:hover {
    border-color: darken(#fff, 20%);
    color: darken(#fff, 20%);
  }

}

.padded-row {
  padding: 5rem 0 6rem;
}

.padded-top {
  padding-top: 15px;

}

.overflow-hidden {
  overflow: hidden;
}

.row-flex, .row-flex > div[class*='col-'] {
  @include flexbox();
  @include flex(0, 0, auto);
}

.row-flex-wrap {
  @include flex-dir(row);
  @include flex-wrap(wrap);
  align-content: flex-start;
  @include flex(0);
}

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
  margin: -.2px; /* hack adjust for wrapping */
}

.container-flex > div[class*='col-'] div, .row-flex > div[class*='col-'] div {
  width: 100%;
}

.flex-col {
  @include flexbox();
  @include flex(1, 100%, auto);
  @include flex-dir(column);
  @include flex-wrap(nowrap);
}

.flex-grow {
  display: flex;
  flex: 2;
}

.lurking-header {
  display: block;
  background-color: #fff;
  margin: -150px auto 2em;
  padding: 15px 20px 40px;
  width: 100%;
  position: relative;
  min-height: 1px;

  h1, h2 {
    text-align: center;
  }

  h2 {
    margin-top: 50px;
  }

  @include MQ-M() {
    padding: 15px 60px 40px;
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 0px;
  margin-bottom: 20px;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.subtle-section {
  text-align: center;
  color: $light-text-color;
  margin: 60px 0 20px;
}

.icon-list {
  font-size: 14px;
  line-height: 20px;

  dt {
    float: left;
    width: 20px !important;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  dd {
    margin-left: 35px !important;
  }
}

.big-icon-list {
  font-size: 20px;
  line-height: 26px;

  dt {
    width: 30px !important;
  }

  dd {
    margin-left: 35px !important;
  }
}

.section {
  background-color: #fff;
  margin-bottom: 40px;
  padding: 40px;
}

//start page

.start-banner {
  background-color: $okf-primary;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;

  img {
    width: 100%;
    height: auto;
    max-width: 400px;
  }

  .row > div {
    margin: 0;
    padding: 0;
  }

  .start-headline {
    margin: 40px 0;
    padding: 0;
    color: #fff;
  }

  h4 {
    text-align: center;
  }

}

.start-opener {
  text-align: center;

  .intro {
    font-size: 1.2em;
    line-height: 1.4em;
    font-weight: bold;
  }

  .kpi {
    font-size: 1.4em;
    margin-top: 20px;
  }
}

.showcase {
  padding: 2rem 0 2rem;

  h4 {
    color: $okf-primary;
    margin: 10px 0 0;
  }

  img {
    width: 100%;
  }

  img:hover {
    animation: wiggle .3s 2;
  }

}

//themen page

.themen-item {
  background-color: #fff;
  margin-bottom: 40px;

  .themen-image {
    background-position: center 0;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    min-height: 200px;
    min-width: 200px;
  }

  .themen-col {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @include MQ-M() {
    @include flexbox();
    @include flex(0, 0, auto);
    @include flex-dir(row);

    .themen-col {
      text-align: left;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

.topic {
  img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
  }
}

//projekte page

.project-item {
}

.project-box {
  background-color: #fff;
  display: block;
  flex-grow: 1;
  margin: $grid-margin 0;
  padding-top: 10px;

  &.text-only {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .project-box-inner {
    padding: 2rem;
    text-align: center;

    h1, h2, h3 {
      margin: 1rem auto 1rem;
    }

    h3 {
      font-size: 22px;
      color: #112233;
    }

    p {
      font-size: 18px;
      color: #535b63;
    }

  }

  .project-box-image-wrap {
    .project-box-image {
      margin-top: 10px;
      height: 160px;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      transition: 0.2s ease-in;
      -webkit-transform: translateZ(0);
    }
  }

  &:hover .project-box-image-wrap .project-box-image {
    transform: scale(1.05, 1.05)
  }

  .project-box-color {
    background: rgb(59, 210, 246); /* Old browsers */
    background: linear-gradient(135deg, rgba(59, 210, 246, 1) 0%, rgba(29, 165, 197, 1) 100%);
    margin-left: 10%;
    margin-right: 10%;
    width: 80% !important;
  }

  &.mini {

    .project-box-image-wrap {
      .project-box-image {
        height: 12rem;
      }
    }

    .project-box-inner {
      padding: 1rem;

      h1, h2, h3 {
        font-size: 0.8em;
      }

      h3 {
        font-size: 14px !important;
        word-wrap: break-word !important;
      }

    }

  }
}

//projekt page

.project {
  p {
    text-align: justify;
    line-height: 1.5em;
    margin-top: 30px;
    margin-bottom: 30px;
    img {
      width: 100%;
      margin-bottom: 30px;
    }
  }

}

//team & vorstand page

.person {
  background-color: #fff;
  margin-bottom: 40px;

  .person-image-col {
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .person-image {
    background-position: center 0;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    min-height: 200px;
    min-width: 200px;
    width: 100%;
    padding: 0;
  }

  .person-col {
    padding: 15px;
  }

  @include MQ-L() {
    @include flexbox();
    @include flex(0, 0, auto);
    @include flex-dir(row);

    .person-image-col {
      @include flexbox();
      padding-top: 0;
      padding-bottom: 0;
    }

    .person-col {
      @include flexbox();
      padding-left: 30px;
      padding-right: 30px;
    }

    .order-1 {
      order: -1;
    }
    //.person-col {
    //  text-align: left;
    //}
  }

}

// blog page

.post-item {
  background-color: #fff;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;

  > div {
    padding: 25px;
    vertical-align: top;
  }

  > div:first-of-type {
    padding-bottom: 0;
  }

  .post-meta {
    font-size: 0.8em;
    color: $light-text-color;
    display: flex;
    flex-direction: row;

    .post-img-wrap {
      flex: 1 0 auto;

      .post-img {
        max-height: 240px;
        max-width: 100px;
        height: auto;
      }
    }

    .post-author {
      margin-top: 10px;
      margin-bottom: 10px;
      line-height: 1em;
      text-align: center;
    }

  }

  .post-teaser {
    padding-bottom: 7px;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;

    .post-title {
      word-wrap: break-word;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .post-excerpt {
      flex: 1 0 auto;
    }

    .post-more {
      font-size: 0.8em;
      color: $light-text-color;
    }

    .post-tags {
      padding: 0;
      > li {
        display: inline-block;
      }
    }

  }

  .post-tags {
    font-size: 10px;
  }

  @include MQ-S() {
    flex-wrap: wrap;
    flex-direction: row;

    .post-meta {
      flex-direction: column;
      width: 25%;
      text-align: center;
      .post-img-wrap {
        .post-img {
          max-height: 240px;
          max-width: 100%;
          height: auto;
        }
      }
    }
    .post-teaser {
      padding-bottom: 7px;
      width: 75%;
    }
    .post-tags {
      font-size: 13px;
    }
  }

}

// blog search page

.search-container {
  text-align: center;
  #search-input {
    width: 80%;
  }
}

.search-result-container {

}

// blog post page

.post {

  .post-meta {
    font-size: 0.8em;
    color: $light-text-color;
    line-height: 1.3em;

    > a {
      color: $light-text-color;
      font-weight: normal;
    }

    > a:hover {
      font-weight: bold;
      color: $light-text-color;
    }
  }

  .post-tags {
    padding: 0;
    > li {
      display: inline-block;
    }
  }

  .post-author {
    margin: -55px auto 4rem;
    text-align: center;

    > img {
      width: 80px;
      border: 2px solid #fff;
      margin-bottom: 1rem;
    }

    > img:hover {
      animation: wiggle .3s 2;
    }

  }

  .post-nonteam-author {
    text-align: center;
  }

  .post-image-full {
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 30px;
  }

  .post-image-license {
    text-align: center;
    margin-bottom: 30px;
    font-size: 0.8em;
  }

  @include MQ-S() {
    .post-image-full {
      height: 200px;
    }
  }

  @include MQ-M() {
    .post-image-full {
      height: 400px;
    }
  }

  .post-content {
    overflow-x: auto;
    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  }

  iframe {
    display: block;
    margin: 30px auto 30px !important;
    width: 600px;
    max-width: 600px;
  }

  .share-post {
    text-align: right;
    font-size: 0.8em;
  }
}

.other-posts {
  background-color: #fff;
  text-align: center;
  padding-top: 0;
  padding-bottom: 30px;

  h3 {
    margin-top: 30px;
    margin-bottom: 0;
  }

}

.post-previews {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;

  .post-preview {
    display: flex;
    padding: 0.5em;
    width: 100%;
  }

  .subtle-section {
    width: 100%;
    margin: 10px 0 0;
    text-align: left;
  }

  .post-preview-right {
    .subtle-section {
      text-align: right;
    }

  }

  .post-preview-content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 1em;
    width: 100%;
    align-items: center;

    .post-img-wrap {
      text-align: center;
      width: 100%;
      height: 152px;
      max-height: 152px;
      max-width: 262px;
      //border: 1px solid #f4f4f4;
      display: table-cell;
      vertical-align: middle;

      .post-img {
        max-height: 150px;
        height: auto;
        width: auto;
        max-width: 100% !important; //important is ie fix
        display: block;
        margin: 0 auto;
      }
    }

    .post-title {
      font-size: 0.85em;
      //flex: 1 0 auto;
      width: 100%;
      max-width: 320px;
    }

    .post-meta {
      font-size: 0.7em;
      color: $light-text-color;
      line-height: 1.3em;
      width: 100%;

      > a {
        color: $light-text-color;
        font-weight: normal;
      }

      > a:hover {
        font-weight: bold;
        color: $light-text-color;
      }
    }

    .post-excerpt {
      width: 100%;
      max-width: 320px;
      font-size: 0.9em;
      flex: 1 0 auto;
    }
  }

  @include MQ-M() {
    .post-img-wrap {
      max-width: 320px;
    }
    &.post-previews-4 .post-preview {
      width: 50%;
    }
    &.post-previews-3 .post-preview {
      width: 50%;
    }
    &.post-previews-2 .post-preview {
      width: 50%;
    }
  }

  @include MQ-L() {

    &.post-previews-4 .post-preview {
      width: 25%;
    }
    &.post-previews-3 .post-preview {
      width: 33%;
    }
    &.post-previews-2 .post-preview {
      width: 50%;
    }
  }

}

// blog tag page

.tag-list {
  list-style: none;
}

#tag-cloud {

  text-align: justify;

  .set-1 {
    font-size: 0.7em;
  }

  .set-2 {
    font-size: 0.9em;
  }

  .set-3 {
    font-size: 1.2em;
  }

  .set-4 {
    font-size: 1.5em;
  }

  .set-5 {
    font-size: 2.0em;
  }

}

// services page

.services {
  margin-top: 20px;
  div.title {
    font-weight: bold;
  }

  .boxes {
    > div {
      margin-top: 20px;
      margin-bottom: 20px;
      border: 1px solid #cacbb4;

    }
  }
}