---
---

$okf-background: rgb(235, 235, 235);
$okf-primary: rgb(37, 168, 209);
$footer-color-2: rgb(12, 74, 93);

$primary-color: $okf-primary;

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flexwrap($value) {
  -webkit-flex-wrap: $value;
  -moz-flex-wrap:  $value;
  -webkit-flex-wrap:  $value;
  -ms-flex-wrap:  $value;
  flex-wrap:  $value;
}

body {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.4em;
  font-size: 1.6em;
  background-color: $okf-background;
}

a, a:hover, a:focus {
  color: #333;
}

.col-center {
    float: none;
    margin: 0 auto;
}

.col-center h1, .col-center h2 {
  text-align: center;
}

.row-equal {
  width: 100%;
  @include flexbox();
  @include flexwrap(wrap);
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  align-content: stretch;
}

.row-wrap {
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.container {
  max-width: 1200px;
}

.navbar-okfn {
  background-color: #fff;
  border: 0px;
  background-size: cover;
  margin-bottom: 0;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
  border-bottom: 1px solid #333;
  padding: 0.5px;
}

.navbar-brand {
  height: 75px;
  line-height: 75px;
  padding: 15px;
}

.navbar-okfn>.container {
  background: rgba(255,255,255,0);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.5) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(50%, rgba(255,255,255,0.5)), color-stop(100%, rgba(255,255,255,0.5)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.5) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.5) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.5) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

.nav {
  padding-right: 40px;
}

.nav>li>a,.nav>li>a:hover, .nav>li>a:focus {
  text-align: right;
  color: #333;
}

.nav>li>a:hover, .nav>li>a:focus  {
  text-decoration: underline;
  background-color: transparent;
}

.nav>li.active>a {
  font-weight: 500;
}


@media (min-width: 768px) {
  .navbar-okfn>.container {
    background-image: none;
  }
  .navbar-okfn {
    padding-bottom: 25%;
  }
  .navbar-nav.nav-white a {
    text-shadow: 0px 0px 20px #000;
    color: #fff;
  }
  .navbar-nav.nav-black a {
    text-shadow: 0px 0px 20px #fff;
    color: #000;
  }
  .nav {
    padding-right: 0px;
  }
  .nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
    text-decoration: underline;
  }

  .navbar-nav>li>a {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.footer {
  background-color: $okf-primary;
  margin: 0 auto;
  padding: 2em 0;
  font-size: 0.9em;
}

.footer, .footer a, .footer a:hover {
  color: #fff;
}
.footer ul {
  list-style-type: none;
  padding: 0;
}

.cellar {
  background-color: $footer-color-2;
  padding: 1em 0;
  font-size: 0.8em;
}
.cellar, .cellar a, .cellar a:hover {
  color: #ccc;
}

.nav-list {
  margin: 2em 0;
  padding: 0 0.1em;
  list-style-type: none;
}

.nav-list li {
  display: inline-block;
  margin: 0.5em;
  padding: 0.1em 0.2em;
  line-height: 2em;
  border: 2px solid $okf-primary;
}

.nav-list li>a {
  white-space: nowrap;
  color: $okf-primary;
}

.nav-list li>a:hover {
  text-decoration: none;
  color: lighter($okf-primary, 20%);
  border-color: lighter($okf-primary, 20%);
}

.top-box {
  background-color: #fff;
  padding: 20px 40px 40px;
  margin: -10% auto 2em;
}

.box {
  background-color: #fff;
  display: block;
  margin: 1em;
  flex: 1 1 auto;
  min-width: 250px;
}

.box .inner, .box-inner {
  padding: 40px;
}

.box h1, .box h2, .box h3 {
  margin: 0 auto 20px;
}

.box p:last-child {
  margin-bottom: 0;
}

.box-image {
  flex: 0 1 auto;
}

.box-image > img {
  width: 100%;
}

.order-1 {
  order: -1;
}

.box-main {
  flex: 3;
}

.box-featured {
  width: 40%;
}

.box-tool {
  width: 25%;
  /* flex: 1 0 0; */
}

.box-event {
  width: 25%;
}

.box-research {
  width: 20%;
}


.box-archive {
  width: 20%;
}

.broad-header {
  background-color: #fff;
  text-align: center;
  padding: 2em 0;
  margin: 0 auto;
}

.broad-header p {
  margin: 0 auto;
  max-width: 540px;
}

.theme-item {
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 20%;
  margin-bottom: 5em;
}

.theme-item>a:hover, .theme-item>a:hover p {
  text-decoration: none;
}

.theme-item>a:hover h2 {
  text-decoration: underline;
}

.person-image {
/*   max-width: 285px; */
  background-position: center 0;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
