<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }} &gt; Open Knowledge Foundation Deutschland</title>
    <meta name="description" content="{{ page.description }}" />

    <link href="{{ site.staticurl }}style/style.css" rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/atom+xml" title="Blog der Open Knowledge Foundation Deutschland." href="{{ site.baseurl }}atom.xml" />
    <link rel="shortcut icon" href="{{ site.staticurl }}images/favicon.ico">
  </head>
  <body>

    {% include nav.html %}
    {{ content }}
    {% include footer.html %}

    <script src="{{ site.staticurl }}js/logo.js"></script>
    {% include ga.html %}
  </body>
</html>
