---
layout: default
menu_blog: yes
---
{% assign authors = "" | split:"|"  %}
{% if page.author %}{% assign authors = authors | push: page.author %}{% endif %}
{% for a in page.authors %}{% assign authors = authors | push: a %}{% endfor %}

{% assign img_authors = "" | split:"|"  %}
{% for author in authors %}
	{% assign a = site.data.team | where:"name",author | first %}
	{% if a.img %}{% assign img_authors = img_authors | push: a %}{% endif %}
{% endfor %}

<div class="lurking-header post">

	<div {% if img_authors.first.img %}class="post-author"{% else %}class="post-nonteam-author"{% endif %}>
		{% for a in img_authors %}
			{% if a.img %}<img src="{{ site.staticurl }}images/team/{{ a.img }}_square.jpg" alt="{{ a.name }}" class="img-circle">{% endif %}
		{% endfor %}
		<p class="post-meta">
			{% t blog.Von %}
			{% for author in authors %}
				{% assign a = site.data.team | where:"name",author | first %}
				{% if a.img %}<a href="{{ site.baseurl }}/{% if a.staff %}team{% else %}vorstand{% endif %}#{{ a.name | slugify }}">{{ a.name }}</a>{% elsif a.name %}{{ a.name }}{% else %}{{author}}{% endif %}{% unless forloop.last %} und {% endunless %}{% endfor %}<br/>
			{% t blog.AmDatum %} {{ page.date | date:"%d.%m.%Y" }}
		<ul class="post-tags">
			{% for tag in page.tags %}
			<li><a href="{{ site.baseurl }}/blog/tags/{{ tag }}/"><span class="badge">{{ tag }}</span></a></li>
			{% endfor %}
		</ul>
		</p>
	</div>

	<h1>{{ page.title }}</h1>
	{% if page.image %}
	<div class="post-image-full" style="background-image: url({{ page.image.src }});" title="{{ page.image.title }}"></div>

	{% if page.image.license %}
	<div class="row post-image-license">
		<div class="col-md-10 col-md-offset-1">{{ page.image.license | markdownify }}</div>
	</div>
	{% endif %}
	{% endif %}
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="post-content">{{ content }}</div>
		</div>
	</div>

	<div class="share-post">
		{% t blog.TeileAuf %}
		<a href="https://twitter.com/intent/tweet?text={{ page.title }}&url=https://okfn.de{{ page.url }}&via=okfde&related=okfde" rel="nofollow" target="_blank" title="{% t blog.TeileAuf %} Twitter"><i class="icon-twitter"></i></a>
		<a href="https://facebook.com/sharer.php?u=https://okfn.de{{ page.url }}" rel="nofollow" target="_blank" title="{% t blog.TeileAuf %} Facebook"><i class="icon-facebook"></i></a>
		<a href="https://plus.google.com/share?url=https://okfn.de{{ page.url }}" rel="nofollow" target="_blank" title="{% t blog.TeileAuf %} Google+"><i class="icon-gplus"></i></a>
	</div>
</div>

{% assign relatedPosts = site.related_posts %}
{% assign relatedArray = '' | split:':' %}
{% for post in relatedPosts | limit: 4 %}
	{% assign relatedArray = relatedArray | push: post %}
{% endfor %}
{% capture thesize %}{{ relatedArray.size }}{% endcapture %}
{% unless thesize == '0' %}
	<h3 class="subtle-section">{% t blog.VerwandteBeitraege %}</h3>
	{% include post_previews.html posts=relatedArray %}
{% endunless %}

{% assign col=1 %}
{% if page.previous.url and page.next.url %}
{% assign col=2 %}
{% endif %}
<ul class="post-previews post-previews-{{ col }}">
	{% if page.previous.url %}
	<li class="post-preview">
		<h3 class="subtle-section"><a href="{{ site.baseurl }}/{{ page.previous.url |replace_first:'/',''}}"><i class="icon-left-open"></i> {% t blog.VorherigerBeitrag %}</a></h3>
	</li>
	{% endif %}
	{% if page.next.url %}
	<li class="post-preview post-preview-right">
		<h3 class="subtle-section"><a href="{{ site.baseurl }}/{{ page.next.url |replace_first:'/',''}}">{% t blog.NaechsterBeitrag %} <i class="icon-right-open"></i></a></h3>
	</li>
	{% endif %}
</ul>
<ul class="post-previews post-previews-{{ col }}">
	{% if page.previous.url %}
	<li class="post-preview">
		<div class="post-preview-content">
			{% include post_preview_small.html post=page.previous %}
		</div>
	</li>
	{% endif %}
	{% if page.next.url %}
	<li class="post-preview post-preview-right">
		<div class="post-preview-content">
			{% include post_preview_small.html post=page.next %}
		</div>
	</li>
	{% endif %}
</ul>

<script>(function(d, s, id) {
	var dsjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	var js = d.createElement(s); js.id = id;
	js.src = "https://datenschule.de/banner.js";
	js.async = true;
	js.defer = true;
	dsjs.parentNode.insertBefore(js, dsjs);
}(document, 'script', 'datenschule-js'));
</script>