---
layout: default
title: Projekte
description: ''
whitelogo: yes
menu_projekte: yes

---

<div class="top-box col-md-7 col-center text-center">
  <h2>Projekte</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>

{% assign projects = site.projects | where: "type", "featured" | sort:"featured","last" %}
{% include project_list.html projects=projects colsize=6 %}

{% assign projects = site.projects | where: "type", "tool" %}
{% include project_list.html projects=projects colsize=4 %}

<h3>Events</h3>
{% assign projects = site.projects | where: "type", "event" %}
{% include project_list.html projects=projects colsize=4 %}

<h3>Forschungsprojekte</h3>
{% assign projects = site.projects | where: "type", "research" %}
{% include project_list.html projects=projects colsize=4 %}

<h4>Archiv</h4>
{% assign projects = site.projects | where: "type", "archive" %}
{% include project_list.html projects=projects colsize=3 %}
