---
layout: default
title: Projekte
description: "Wir bringen Menschen zusammen, die digitale Bürger-Werkzeuge bauen, und wir betreiben offene Web-Infrastruktur für unsere Demokratie."
menu_projekte: yes
card: true
background: backgrounds/projekte.jpg
---

<div class="lurking-header">
  <h1>{% t projekte.Projekte %}</h1>
  <p>{% t projekte.Intro %}</p>
</div>

<div class="row row-flex row-flex-wrap">
{% assign projects = site.projects | where: "type", "featured" | sort:"featured","last" %}
{% for project in projects %}
  {% include project_list.html project=project %}
{% endfor %}
</div>

<h3 class="subtle-section">{% t projekte.Events %}</h3>
<div class="row row-flex row-flex-wrap">
{% assign projects = site.projects | where: "type","event" | sort:"date","last" %}
{% for project in projects reversed %}
  {% include project_list.html project=project %}
{% endfor %}
</div>

<h3 class="subtle-section">{% t projekte.Tools %}</h3>
<div class="row row-flex row-flex-wrap">
  {% assign projects = site.projects | where: "type","tool" | sort:"date","last" %}
  {% for project in projects reversed %}
  {% include project_list.html project=project %}
  {% endfor %}
</div>

<h3 class="subtle-section">{% t projekte.Forschungsprojekte %}</h3>
<div class="row row-flex row-flex-wrap">
{% assign projects = site.projects | where: "type", "research" %}
{% for project in projects %}
  {% include project_list.html project=project %}
{% endfor %}
</div>

<h3 class="subtle-section">{% t projekte.Archiv %}</h3>
<div class="row row-flex row-flex-wrap">
{% assign projects = site.projects | where: "type", "archive"  | sort:"featured","last" %}
{% for project in projects %}
  {% include project_list.html project=project %}
{% endfor %}
</div>
