---
layout: default
title: Projekte
description: ''
whitelogo: yes
menu_projekte: yes

---

<div class="top-box col-md-7 col-center text-center">
  <h2>Projekte</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>

<div class="row">
{% assign projects = site.projects | where: "type", "featured" | sort:"featured","last" %}
{% for project in projects %}
  {% include project_list.html project=project %}
{% endfor %}

{% assign projects = site.projects | where: "type", "tool" %}
{% for project in projects %}
  {% include project_list.html project=project %}
{% endfor %}
</div>

<h3>Events</h3>
<div class="row">
{% assign projects = site.projects | where: "type","event" | sort:"date","last" %}
{% for project in projects reversed %}
  {% include project_list.html project=project %}
{% endfor %}

</div>

<h3>Forschungsprojekte</h3>
<div class="row">
{% assign projects = site.projects | where: "type", "research" %}
{% for project in projects %}
  {% include project_list.html project=project %}
{% endfor %}
</div>

<h3>Archiv</h3>
<div class="row">
{% assign projects = site.projects | where: "type", "archive" %}
{% for project in projects %}
  {% include project_list.html project=project %}
{% endfor %}
</div>
